body {
	background: #fff;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

#top-bar #global-links, #top-bar #left, #quick-links, #search, nav, #breadcrumbs, #left-nav, #mobile-links, .hero-image, #left img, footer img, #back-to-top, .screen-reader-shortcut, .footer-content:nth-of-type(1), .footer-content:nth-of-type(3), .footer-content:nth-of-type(4) {
	display: none;
}
#site-name a:link:after, #site-name a:visited:after {
    content: "";
}
a img {
	border: none;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.6em;
}
h5 {
    font-size: 1.4em;
}
h6 {
    font-size: 1.2em;
}
.footer-content {
    margin-top: 2rem;
    border-top: 1px solid #000;
}
.footer-content ul {
    list-style-type: none;
    padding: 0;
}
table th, table thead {
	border: 1px solid #000;	
	padding: .5em;
	text-align: left;
}
table {
	border: 1px solid #000;
	border-collapse: collapse;
}
table td {
	padding: .5em;
	border: 1px solid #000;
}
a:link, a:visited {
	color: #520063;
	background: transparent;
	text-decoration: underline;
}
a:link:after, a:visited:after {
    content: " (/" attr(href) ") ";
    font-size: 80%;
}