body {
	background: #fff;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
}
#top-bar #right, #search, nav, #mobile-links, #left img, footer img, .screen-reader-shortcut, .footer-pin-icon, .footer-content:nth-of-type(1), .footer-content:nth-of-type(3), .footer-content:nth-of-type(4) {
	display: none;
}
a img {
	border: none;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.25em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.75em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.25em;
}
table th, table thead {
	border: 1px solid #000;	
	padding: .5em;
	text-align: left;
}
table {
	border: 1px solid #000;
	border-collapse: collapse;
}
table td {
	padding: .5em;
	border: 1px solid #000;
}
.footer-content {
    margin-top: 2rem;
    border-top: 1px solid #000;
}
.footer-content ul {
    list-style-type: none;
    padding: 0;
}
a:link, a:visited {
	color: #4e2a84;
	background: transparent;
	text-decoration: underline;
}