// forms

.web-form {

	form {
		margin-bottom: .5rem;
    }

	fieldset {
		border: 1px solid $light-grey;
		margin-bottom: 1em;
		border: 0;
	
        p {
            margin: 0;
        }
    }

	.field {
		margin-bottom: 1em;
	   
        p {
            margin: 0;
        }
    }    
    
	label,
    .label,
    legend {
		margin: .5em 0 .2em;
		display: block;

        &.inline {
            display: inline;
            margin: .5em 1em .2em 0;
        }
        
		&.right {
			font-style: italic;
			font-weight: normal;
			font-size: .9em;
		}
	}

	input+label,
    select+label,
    .label-secondary+label,
    .required+label {
		margin: 1.5rem 0 0;
	}

	input[type=search]::-webkit-search-cancel-button, 
    input[type=search]::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	input[type=text], 
    input[type=email],
    input[type=password],
    select, 
    textarea {
		display: inline-block;
		border: 1px solid $medium-grey;
        font: inherit;
		color: $rich-black-80;
		border-radius: 0;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		width: 50%; // previously: min-width: 30rem
		background: $white;
        padding: .5em;
		@include borderFade();

//		&.required {
//			border: 1px solid $red;
//		}
        
        // for smaller input fields
        &.narrow { 
            width: 25%; // previously: min-width: 15rem;
        }
	}
    
	input[type=checkbox], 
    input[type=radio] {
		box-sizing: border-box;
		padding: 0;
		height: 15px;
		width: 15px;
	}

	input[type=search] {
		-webkit-appearance: textfield;
		box-sizing: content-box;
	}    

	input:focus, 
    select:focus, 
    textarea:focus {
		border-color: $nu-purple;
	}
    
//	input.required:focus,
//    select.required:focus,
//    textarea.required:focus {
//		border-color: $red;
//	}

	input:focus {
		outline: 1px auto $nu-purple;
	}

	input[disabled],
    select[disabled],
    textarea[disabled] {
		cursor: not-allowed;
		background-color: $light-grey;
		color: $medium-grey;
	}

	input[readonly],
    select[readonly],
    textarea[readonly],
    input[readonly]:focus,
    select[readonly]:focus,
    textarea[readonly]:focus {
		background: $light-grey;
		color:  $rich-black-50;
		border-color: $medium-grey;
	}

	input[type=file] {
		background-image: none;

		&:hover {
			background-image: none;
		}
	}

	select {
		background: $white url("#{$open}images/icons/arrow-down-dkpurple.svg#{$close}")  no-repeat top 50% right .5rem / 17px 10px;
		color: $rich-black-50;
        width: inherit;
        padding-right: 2rem;
		margin: 0 .65rem 0 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		-webkit-border-radius: 0;
        height: 45px;

		&::-ms-expand {
			display: none;
		}

		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 $black;
		}

		option {
			font-family: $AkkuratProRegular;
		}
    }

	select[multiple] {
		height: auto;
        background: none;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        
        option {
            padding: .25rem 1rem .25rem .25rem;
        }
	}

	textarea {
		border: 1px solid $medium-grey;
		padding: 0.3em 1.5em 0.3em .5em;
		width: 100%;
        height: 8em;
		-webkit-appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-webkit-border-radius: 0;
		overflow: auto;
		vertical-align: top;
	}

	.required {
		color: $red;
		font-weight: normal;
	}

	label, .label, legend {
        
		span {
            
			&.required {
				margin-left: 0.5rem;
			}
		}
	}

	span {
        
		&.required {
			display: inline;
		}
	}

	.form-help-inline,
    .form-message-inline {
		display: inline-block;
		padding-left: .3em;
		color: $rich-black-50;
		vertical-align: middle;
	}

	.form-message {
		display: block;
	}

    // buttons
	button::-moz-focus-inner,
    input::-moz-focus-inner {
		border: 0;
		padding: 0
	}

	button,
    input,
    select,
    textarea {
		vertical-align: baseline;
		vertical-align: middle;
	}

	button,
    input {
		line-height: normal;
	}

	button,
    input[type=button],
    input[type=reset],
    input[type=submit] {
		-webkit-appearance: button;
		cursor: pointer;
		overflow: visible;
	}
    
    // submit button
    input[type=submit] {
        background: $nu-purple;
        border: none;
        color: $white;
        cursor: pointer;
        display: inline-block;
        font: 16px $AkkuratProBold;
        padding: .8em 1.5em .7em 1.5em;
        position: relative;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        text-decoration: none;
        margin: 2rem 0;
        
        &:hover, &:active {
            background: $nu-purple-30;
        }

        &:focus {
            border: 1px dashed $white;
            outline: none;
        }
    }

	button[disabled],
    input[disabled] {
		cursor: default;
	}

    @media only screen and (max-width: 30em) {

        input[type=text],
        input[type=text].narrow,
        input[type=email],
        input[type=email].narrow,
        label,
        select,
        textarea {
            display: block;
            width: 100%;
        }

        .form-help-inline, 
        -message-inline,
        -message {
            display: block;
            font-size: 80%;
            padding: .2em 0 .8em;
        }
    }
}