// mobile navigation

#mobile-links, #mobile-nav {
    display: none;
}

@media screen and (max-width: 768px) {

    // adds mobile menu and search links
    #mobile-links {
        display: block;
        float: right;
        height: 55px;
    }
    .mobile-link {
        display: inline-block;
        padding: 1em;
        height: 55px;
        width: 55px;
        cursor: pointer;  
        position: relative;

        &.mobile-search-link {
            background: url("#{$path-images}/icons/search.svg") no-repeat center / 20px 20px;

			&.open {
				background: $nu-purple url("#{$path-images}/icons/alert-x-white-home.svg") no-repeat center / 20px 20px;
			}
        }

        &.mobile-nav-link {
            background: url("#{$path-images}/icons/hamburger.svg") no-repeat center / 20px 20px;

			&.open {
				background: $white url("#{$path-images}/icons/close-button-dkpurple.svg") no-repeat center / 20px 20px;
			}
        }
    }

	#mobile-nav {
		display: none;
		background: $white;
		position: absolute;
		top: 55px;
		left: 0;
		right: 0;
		z-index: 9998;

        ul { // first level
            background: $white;

            ul { // second level
                display: none;
                background: $light-grey;

                ul { // third level
                    background-color: darken($light-grey, 4%);

                    ul { // fourth level
                        background-color: darken($light-grey, 8%);

                        ul { // fifth level
                            background-color: darken($light-grey, 12%);                    

                            ul { // sixth level
                                background-color: darken($light-grey, 16%);           
                            }
                        }
                    }
                }
            }   
        }        
        
        li { // first level
            position: relative;
            font: 18px $AkkuratProBold;
            // padding: 1em 0;
        
            a {
                text-decoration: none;
                color: $nu-purple;
                display: block;
                border-bottom: 1px solid $light-grey;
                position: relative;
                padding: .9em 3em .9em .8em;

                &.active {
                    color: $black;
                    font-family: $AkkuratProBold;
                }              
            }

            .arrow {
                
                &.open a {
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                    border: none;
                }                  
                
                a {
                    width: 50px;
                    height: 48px;
                    background: url("#{$path-images}/icons/mobile-down-arrow-ltpurple.svg") no-repeat center / 20px 20px;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    text-indent: -9999px;
                    overflow: hidden;
                    border: none;
                    padding: 0;
                }
            }
            
            li { // second level
                font: 16px/1.2em $AkkuratProRegular;  
            
                a { 
                    padding-left: 1.5em;
                }                

                li a { // third level
                    padding-left: 2em;
                }
                li li a { // fourth level
                    padding-left: 2.5em;
                }

                li li li a { // fifth level
                    padding-left: 3em;
                }

                li li li li a { // sixth level
                    padding-left: 3.5em;
                }    
            }            
        }
    }

    // for bottom part of navigation (links from #top-bar)
	#mobile-nav-bottom {
		background: $nu-purple-120;
        
		&:after {
			@include clearfix();
		}        

		ul {
			margin: 0;
            padding: 1rem;
            background: none;
		}
        
		li {
			background: transparent;
			padding: 0;
			font-size: 12px;
			line-height: 24px;
            margin: 0;
            list-style: none;
            
            &:last-child {
                border: none;
            }            

            a {
                text-transform: uppercase;
                color: $white;
                font: 12px/2em $AkkuratProBold;
                border: none;
                padding: inherit;

                &.white-link {
                    color: $white;
                }
            }
        }
        
		#mobile-nav-bottom-left, #mobile-nav-bottom-right {
			width: 50%;
			display: inline-block;
			float: left;
		}
	}
}