// header

header {
    background: $nu-purple;
}

#top-bar {
    background: $nu-purple-120;
    font: 12px/1.4em $AkkuratProBold;
    min-height: 60px;
    @extend %clearfix;

    #left {
        display: block;
        float: left;
        padding-left: 0;

        img { // northwestern logo
            width: 170px;
            margin: 1.1rem 0 1rem 0;
        }    
    }
    
    // quick links on right side with optional resources dropdown
    #right {
        display: inline;
        position: relative;
        float: right;
        padding-right: 1rem;
        margin-top: 1.4rem;
        color: $white;
        text-transform: uppercase;
        
        ul {
            margin: 0;
            
            li {
                display: inline-block;
                position: relative;
                margin-left: 1rem;
 
                &:hover, &.hover {
                    z-index: 100;
                } 
                
                &:hover ul, &.hover ul {
                    right: -1rem;
                }  
                
                &:last-child { // for "resources" dropdown (must be last child)
                    cursor: pointer;
                }
                
                .dropdown-arrow {
                    background: url("#{$path-images}/icons/arrow-down-white.svg") no-repeat 0 .1rem;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    right: -1rem;
                    top: 2px;
                    margin-left: .3em;
                }             
            }     
            
            a {	
                color: $white;
                text-decoration: none; 
                display: block;
                position: relative;
            }

            a:hover, a:focus, a:active { 
                text-decoration: underline;  
            }

            ul {
                position: absolute;
                top: 100%;
                right: -9999em;
                width: 150px;
                background: $nu-purple-120;
                padding: .5rem;
                text-align: right;
                
                li {
                    float: none;
                    padding: 0 0 .5rem 0;
                    width: 100%;
                    margin: 0;
            
                    &:hover ul, &.hover ul {
                        left: 0;
                    }        
                }
            }
        }
    } 
}         

.bottom-bar { // area where department name and search reside
    display: table;
    width: 100%;
    @extend %clearfix;
}

#department {
    display: table-cell;
    vertical-align: middle;
    width: 855px / 1120px * 100%;
    height: 112px;
    padding: 1rem 0;
    
    h1 {
        font: 32px $AkkuratProRegular;
        line-height: 1em;

        &.small {
            font-size: 16px;
        }
    
        span {
            font-size: 14px;
            line-height: 1em;
            display: block;
        }
    }

    h2 {
        font: 24px $AkkuratProRegular;
        line-height: 1em;
        color: $white;
        margin: 1rem 0 0 0;
    }
    
    a {
        color: $white;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }    
}

// media queries
@media screen and (max-width: 1445px) {
    
    #top-bar {
        padding: 0 .5rem;
    }
}

@media screen and (max-width: 1145px) {
    
    #department {
        padding-left: .5rem;
    }     
}

@media screen and (max-width: 768px) {
    
    #top-bar {
        display: block;
        padding: 0;
        
        #left {
            display: inline-block;
            float: none;
            margin-left: .5rem;           
        }
    
        #right {
            display: none;
        }
    }   
    
    #department {
        width: 100%;
        padding: .5rem;
        height: auto;

        h1 {
            margin: .5rem 0;
            font-size: 24px;
        }
        
        h2 {
            margin: .2rem .2rem .2rem 0;
        }            
    } 
} 

@media screen and (max-width: 480px) {
    
    #department {

        h1, h2 {
            font-size: 22px;
        }
    }
}