// buttons

.content a.button, #top-nav ul li a.button  {
    font: 16px $AkkuratProBold;
    color: $white;
    background: $nu-purple;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;    
    margin: 0 .5em .5em 0;
    padding: .8em 1em .7em 1em;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    min-width: 165px;
    border: none;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $nu-purple-30;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    
    &:hover, &:focus, &:active {
        color: $white;
        text-decoration: none;
    }
    
    &:hover:before, &:focus:before, &:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    
    &.normal-case { // for normal case buttons anchors
        text-transform: none;
    }        
}