// core

* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll; // prevents scrollbar jumping on small pages
}

body {
    font: 62.5%/1.7em $AkkuratProRegular;
    text-rendering: optimizeLegibility; // enables kerning
    -webkit-font-smoothing: antialiased; // fixes blurry fonts on chrome/safari
    -moz-osx-font-smoothing: grayscale; // fixes blurry fonts on firefox for osx
    -webkit-text-size-adjust: 100%; // disables auto-zoom text, allows user zoom
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: $rich-black-80;
    background: $white;
    min-width: 98%;
    height: 100%;
    overflow-x: hidden;
}

a:focus {  // for accessible links
   outline: 1px dashed;
}

a:active { // remove outline from mouse clicks
    outline: none;
}

a.screen-reader-shortcut {
    left: .5em;
    position: absolute;
    top: -99px;

    &:focus {
        background-color: $white;
        box-shadow: 0 0 .3rem .3rem rgba(0, 0, 0, 0.6);
        color: $nu-purple-120;
        font: bold 1.5em sans-serif;
        padding: 1rem;
        top: .5rem;
        z-index: 5;
    }
}

#main-content {
    font-size: 16px;
    line-height: 1.7em;
    outline: none !important; // removes outline from tabindex
}
    
// centered containers
.contain-780 {
    margin: 0 auto;
    max-width: 780px;
    box-sizing: content-box;
}

.contain-850 {
    margin: 0 auto;
    max-width: 850px;
    box-sizing: content-box;
}

.contain-970 {
    margin: 0 auto;
    max-width: 970px;
    box-sizing: content-box;
}

.contain-1120 {
    margin: 0 auto;
    max-width: 1120px;
    box-sizing: content-box;    
}

.contain-1440 {
    margin: 0 auto;
    max-width: 1440px;
}

// misc
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.hide-label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.group:after { // the clearfix
    content: "";
    display: table;
    clear: both;
}

// media queries
@media screen and (max-width: 1140px) { // adds left/right margin for smaller screen widths
    
    #main-content .contain-1120 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 768px) {
    
    .hide-mobile, a.screen-reader-shortcut {
        display: none;
    }
}