// load web fonts

@font-face {
    font-family: "Akkurat Pro Regular";
    src: url("#{$path-fonts}/AkkuratProRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;        
}

@font-face {
    font-family: "Akkurat Pro Bold";
    src: url("#{$path-fonts}/AkkuratProBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;        
}

@font-face {
    font-family: "Campton Bold";
    src: url("#{$path-fonts}/CamptonBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;        
}

@font-face {
    font-family: "Periodico Bold Italic";
    src: url("#{$path-fonts}/PeriodicoBoldItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;        
}