// internet explorer warning

#ie {
	background: #fcf3c5;
	font: .8em/1em Arial, sans-serif;
	text-align: center;
	padding: .5em;
	border-bottom: 1px solid #000;	
}

#ie a {
	font-weight: bold;
}

#ie p {
	margin: 0;
}