// mixins and extends

// mixins
@mixin clearfix() {
	content: "";
	display: table;
	clear: both;
}

// extends
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}