// feature boxes (2 columns)

.standard-page {

    .feature-two-col {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; // equal height columns  
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; // wrap child items           
        margin-bottom: 20px / 836px * 100%;

        .feature-box {
            width: 407px / 836px * 100%;   
            background: $light-grey;
            position: relative;

            &:nth-child(even) {
                margin-left: 20px / 836px * 100%; 
            }
            
            &:nth-child(n+3) { // adds margin when more than 2
                margin-top: 1.25rem;
            }

            &.no-button { // tightens things up when there's no button
                
                .feature-copy {
                    padding-bottom: 1rem;
                }
            }
            
            .feature-copy {
                padding: 1rem 1.5rem 4rem 1.5rem;
     
                h3, h4 { 
                    font: 21px $AkkuratProRegular;
                    text-transform: uppercase;
                    color: $rich-black-80;
                }
                
                ul {
                    margin-left: 0;
                    padding-left: 0;
                }
            }
        }        
    }
    
    // media queries 
    @media screen and (max-width: 600px) {
        
        .feature-two-col {
            display: inherit;
            margin-bottom: 0;

            .feature-box {
                width: inherit;
                max-width: 407px;
                margin-bottom: 1.25rem;
             
                &:nth-child(even) {
                    margin-left: 0; 
                }
                
                &:last-child {
                    margin-bottom: 0;
                }
                
                &:nth-child(n+2) {
                    margin-top: 0;
                }
            }
        }        
    }
     
}  // end