// sidebar
    
#sidebar {
    width: 260px;
    float: right;
    margin: 0 0 2rem 2rem;
    position: relative;
    z-index: 2;

    .box {
        background: $nu-purple-10; 
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        margin-bottom: 2rem;
        font-size: 14px;
        line-height: 1.4em;           

        h2 {
            font: 18px/1.2em $CamptonBold;
            color: $rich-black-80;
            margin-bottom: 1rem;
        }

        h3 {
            font: 16px/1.2em $AkkuratProBold;
            color: $rich-black-80;
            margin-top: inherit;
        }

        ul {
            padding-left: .5rem;
            margin: 1rem 0;

            li { 
                background-position: 0 .3rem;
                padding-left: 1rem;
            }
        }
    }
} 

@media screen and (max-width: 48em) {

    #sidebar {
        margin-left: 0;
        width: 100%;
        float: none;

        .box {
            margin-bottom: 1rem;
        }
    }
} 