// link boxes - grey header with grey line below, optional photo and links

.standard-page {

    .two-column-links {
        @include flexbox;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; // wrap children
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; // evenly spaces items 
        margin: 2rem 0 0 0;
        
        article {
            width: 400px / 836px * 100%;
            margin-bottom: 2rem;
            
            img {
                margin-bottom: .5rem;
            }
            
            h2,
            h3,
            h4 {
                font: 26px/1.2em $AkkuratProRegular;
                color: $rich-black-50;
                margin-bottom: 1rem;   
                padding-bottom: .5rem;
                border-bottom: 4px solid $medium-grey;
            }
        }
    }
      
    @media screen and (max-width: 48em) {    
        
        .two-column-links {
            display: inherit;
            
            article {
                width: 100%;
                max-width: 400px;
                margin-bottom: 2rem;
                
                h2, h3, h4 {
                    font-size: 24px;
                }
            }
        }
    }
}